body {
    background-image: url("simbahannya.jpg"), url("simbahannya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1, h2, h3, h4, h6{
      color: white;
  }

  *{
    color: white;
  }
